# Setup DB Url & Port
DATABASE_URL="postgresql://USERNAME:@127.0.0.1:5432/DB_NAME?schema=public"
PORT = 9000

# Setup JWT Environment Variables
JWT_SECRET="super-secret-coursehub-key-change-in-production"
JWT_EXPIRATION="24h"

# Seeding DB
# Admin
SEED_ADMIN_EMAIL = "admin@example.com"
SEED_ADMIN_NAME = "Test Admin"
SEED_ADMIN_PASSWORD = "12345678"

# Customer
SEED_CUSTOMER_EMAIL = "customer@example.com"
SEED_CUSTOMER_NAME = "DTest Customer"
SEED_CUSTOMER_PASSWORD = "12345678"
