# Setup DB Url & Port
DATABASE_URL="postgresql://USERNAME:@127.0.0.1:5432/DB_NAME?schema=public"
PORT=9000
NODE_ENV="production"

# Setup JWT Environment Variables
JWT_SECRET="CHANGE_ME_WITH_STRONG_SECRET"
JWT_EXPIRATION="24h"
JWT_REFRESH_SECRET="CHANGE_ME_WITH_STRONG_REFRESH_SECRET"

# Internal API Key for /users routes
INTERNAL_API_KEY="CHANGE_ME_INTERNAL_API_KEY"

# Seeding DB
# Admin
SEED_ADMIN_EMAIL="admin@example.com"
SEED_ADMIN_NAME="Test Admin"
SEED_ADMIN_PASSWORD="CHANGE_ME_ADMIN_PASSWORD"

# Customer
SEED_CUSTOMER_EMAIL="customer@example.com"
SEED_CUSTOMER_NAME="DTest Customer"
SEED_CUSTOMER_PASSWORD="CHANGE_ME_CUSTOMER_PASSWORD"
